<a href="https://colab.research.google.com/github/Chingfa-Wu/Introduction-to-Computers/blob/main/tri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def tri(n):
    l = []
    for i in range(n):
        if i == 0:
            l.append([1])
        elif i == 1:
            l.append([1,1])
        else:
            y = []
            for j in range(i+1):
                if j==0 or j==i:
                    y.append(1)
                else:
                    y.append(l[i-1][j]+l[i-1][j-1])
            l.append(y)
    return l

n = int(input())
x = tri(n)

ln = len(str(x[-1]))
for i in range(len(x)):
    s = str(x[i])
    a = '{:^'+str(ln)+'}'
    print(a.format(s))

10
                 [1]
                [1, 1]
              [1, 2, 1]
             [1, 3, 3, 1]
           [1, 4, 6, 4, 1]
         [1, 5, 10, 10, 5, 1]
       [1, 6, 15, 20, 15, 6, 1]
     [1, 7, 21, 35, 35, 21, 7, 1]
   [1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [2]:
def tri(n):
    l = []
    for i in range(n):
        if i == 0:
            l.append([1])
        elif i == 1:
            l.append([1,1])
        else:
            y = []
            for j in range(i+1):
                if j==0 or j==i:
                    y.append(1)
                else:
                    y.append(l[i-1][j]+l[i-1][j-1])
            l.append(y)
    return l

n = 10
x = tri(n)
ls = [23,22,20,19,17,15,13,11,9,6]
ln = len(str(x[-1]))
for i in range(len(x)):
    print(' '*ls[i],end='')
    print(x[i])

                       [1]
                      [1, 1]
                    [1, 2, 1]
                   [1, 3, 3, 1]
                 [1, 4, 6, 4, 1]
               [1, 5, 10, 10, 5, 1]
             [1, 6, 15, 20, 15, 6, 1]
           [1, 7, 21, 35, 35, 21, 7, 1]
         [1, 8, 28, 56, 70, 56, 28, 8, 1]
      [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]